    body {
      background-color: white;
      padding: 20px;
      margin: 0;
      /*font-family: Helvetica, Arial, sans-serif;*/
    }
    
    ul.header li {
      display: inline;
      list-style-type: none;
      margin: 0;
    }
    
    ul.header {
      /*background-color: #0000A0;*/
      background-color: lightgray;
      padding: 0;
    }
    
    ul.header li a {
      color: #FFF;
      /*font-weight: bold;*/
      text-decoration: none;
      padding: 10px;
      display: inline-block;
    }
    
    .content {
      background-color: #EEEEEE;
      padding: 20px;
    }
    
    .content h2 {
      padding: 0;
      margin: 0;
    }
    
    .content li {
      margin-bottom: 10px;
    }
    
    .active {
      background-color: lightsteelblue;
      color: darkred;
    }
  

 .msgFromServer {
   width: 700px;
   height : 150px;
   padding: 20px;
   color: darkgreen;
   font-size: 2em;
   background-color: lightgray; 
  }

  .errmsg {
    margin-top: 1em;
    margin-left: 8em;
    margin-right: 8em;
  }
  .errmsg-left {
    margin-top: 1em;
    width: 700px;;
  }



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tools-container {border-bottom: solid 1px lightgrey; padding-bottom: 20px; margin-bottom: 20px;}

.places-container {border-bottom: solid 1px lightgrey; margin-bottom: 20px;}
.places-container .bold {font-weight: bold;}
.places-container .left  {float: left;}
.places-container .right {float: right;}
.places-container .image img {width: 200px; height: auto; margin-right: 20px; margin-bottom: 20px;}


.clearfix:after {height:0; content:" "; clear:both; display:block; visibility:hidden;}

.ca3 input, textarea {min-width: 300px; display: block; padding: 10px; margin-bottom: 10px; border-radius: 4px; border: solid 1px lightgray}

    .summerhouse-list-item {
        padding: 20px;
        width: 100%;
        display: table;
        cursor: pointer;
    }
    .summerhouse-list-item:hover {
        background-color: #ddd;
    }
    .summerhouse-list-item .photo {
        float:left;
    }
    .summerhouse-list-item .photo img {
        width: 200px;
        margin-right: 20px;
    }
    .summerhouse-list-item .content {
        float: left;
    }
    .summerhouse-list-item .content .title {
        margin-top: 0px;
    }

    .house-detail {
        display: table;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .house-detail .house-detail-photo {
        float: left;
        width: 50%;
    }
    .house-detail .house-detail-photo img{
        width: 100%;
    }
    .house-detail .house-detail-info {
        float: left;
        width: 50%;
    }
    .house-detail .house-detail-info .house-title {
        margin-top: 0px;
        padding-left: 20px;
    }
    .house-detail .house-detail-info .house-description {
        padding-left: 20px;
    }
    .house-detail .house-detail-info .house-city {
        padding-left: 20px;
    }
    .house-detail .house-detail-info .house-address {
        padding-left: 20px;
    }
    .house-detail .house-detail-info .house-price {
        padding-left: 20px;
    }
    .house-detail .house-detail-info .house-geo {
        padding-left: 20px;
    }
    .house-detail .house-detail-info .house-booking {
        font-size: 16px;
        padding: 10px;
        margin-left: 20px;
    }

    .bigmap {
        margin-bottom: 30px;
    }

    .glyphicon {margin-top: 16px;}

    .headerFont {display: inline-block; margin: 0 0 0 20px; color: darkorange;}
    .headerFont span {font-weight: bold; color: orangered}
    .headerIcon {margin-bottom: -5px; z-index: 100; position: relative;}